.idea/*
venv/*
README.md
.git/*
enron-email-dataset.zip
enron_mail_20150507.tar.gz
maildir/*
.ipynb_checkpoints/*
.dockerignore
cleaning_enron.py
test.csv
cleaned_test.csv
docker-compose.yaml
config/*
env-vars/*
Dockerfile
test.env
emails.csv